*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
} */

header{
    background-color: white;
    width: 100%;
    max-width: 1600px;
}

nav{
    width: 95%;
    /* height: auto; */
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
    /* margin: 0px auto; */
}

nav .navbar-menu{
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
}

nav .navbar-menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.btn{
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

#banner{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#banner .banner-container{
    width: 100%;
    padding: 80px;
    text-align: center;
}

.button-1 button {
  background-color: #FFFFFF;
  color: #30B868;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  margin-bottom: 16px;
  border: none;
  border-radius: 100px;
}


.banner-content h1{
    color: #FFFFFF;
    font-size: 50px;
    margin-bottom: 16px;
}

.banner-content span{
    color: #30B868;
}

.banner-content p{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

.banner-button{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 115px;
}

.button-2{
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 16px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.button-2 img{
    vertical-align: middle;
}

.button-3{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    padding: 16px;
    cursor: pointer;
}

#description{
    margin-top: 80px;
    max-width: 1600px;
}

#description .section-container{
    width: 97%;
    max-width: 1600px;
    margin: 0px auto;
    text-align: center;
}
.section-heading h1{
    margin-bottom: 16px;
}
#description .section-heading p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 44px;
}

#description .section-container .about-info{
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 0 auto;
    align-items: stretch;
}

.about-info .info-card {
    /* flex: 1; */
    max-width: 322px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 15px;
    border-radius: 16px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-info .info-card img{
    width: 72px;
    height: 72px;
    background-color: #F95555;
    border-radius: 50%;
    margin-bottom: 16px;
    align-items: center;
}

.about-info .info-card h3{
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
}

.about-info .info-card p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

#solution{
    max-width: 1600px;
    padding: 102px;
    align-items: center;
    border: 2px solid red;
}

#solution .solution-section{
    max-width: 1360px;
    display: flex;
    justify-content: center;
    border: 2px solid red;
}

#solution .solution-section .solution-img img{
    width: 600px;
    height: auto;
    vertical-align: middle;
}
.solution-section .solution-info{
    margin-left:  60px;
    /* border: 2px solid red; */
}

.solution-section .solution-info .til{
    color: #30B868;
    font-size: 16px;
    font-weight: 400;
    margin-top: 102px;
}

.solution-section .solution-info h1{
    margin-bottom: 16px;
}

.solution-section .solution-info .sol-para{
    /* width: 450px; */
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    padding-right: 150px;
    margin-bottom: 40px;
}

.solution-info .sol-list{
    list-style: none;
    align-items: center;
}

.solution-info .sol-list img{
    vertical-align: middle;
}

.solution-info .sol-list li{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}