*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid red;
}

nav img{
    padding: 16px 18px 16px 120px;
}

.navbar-menu{
    display: flex;
    gap: 32px;
    list-style: none;
    /* border: 1px solid red; */
}

.navbar-menu a{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.btn{
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto;
    padding: 12.5px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}